@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
    As an ocassional bar tender, I was challenged to remember basic cocktails. 
    I often wish there was a simple system to look up these recepies and procedures. 
    This website is inspired to help other bar tenders and servers who are not too experience in the profession, 
    or for anyone else who would like to learn!
    </p>
    <p>
    Jairo Millan
    </p>
</article>

<aside>
    <h3>Side Note for Cocktails:</h3>
    <p>
        All glasses are filled with ice exept shots.
        All cocktails with a martini glass are shaking with ice, drained and served.
    </p>
@*    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>*@
</aside>